<div class="about-container row">
    <div class="qualification-container col-3">
        <img class="faceImg img-fluid" [src]="face" alt="Imagen de perfil" width="250">
        <h1 class="name text-center">Martin Antolini</h1>
        <p class="qualification text-center">
            Full Stack Web Developer
        </p>


    </div>

    <div class="text-about col-9">
        <h3 class="section-titel">Sobre mi</h3>
        <p class=" about-description text-justify">Licenciado en administración egresado de la UNLP con conocimientos en
            informática y en las tecnologías de desarrollo web como Python, Django, Angular, Git, HTML, JS y CSS, y
            Bootstrap. La incorporacion de estas habilidades informaticas tiene como fin fusionar el conocimiento
            empresarial con la tecnología.

            Sólida comprensión de los principios empresariales, la gestión de recursos humanos, la planificación
            estratégica y la toma de decisiones empresariales. Además, su experiencia en informática y desarrollo web le
            permite aplicar estos conocimientos en el diseño y creación de soluciones tecnológicas para resolver
            problemas empresariales.

        </p>


    </div>

</div>