.work-container {
    margin-top: 2rem;
    margin-left: 2rem;

    img.img-work {
        width: 100px;
        height: 100px;
    }

    .text-work {
        margin-left: 3rem;

        h5 {
            font-size: 2.5rem;
        }

        .work-description {
            font-size: 1.75rem;
        }
    }


}